<form  action="/update"  method=post>

Name<input  type=text  name=t1 value=<%=data[0].name %>  /><br>
Password<input  type=password   name=t2  value=<%=data[0].password%> >

<input  type=hidden   name=id  value=<%=data[0].id %> >

<input  type=submit>
</form>