<%-include('./css.ejs')%>

<footer class="bg-info">
    <div class="container py-5">
      <div class="row text-center text-md-start">
        <div class="col-12 col-md-3">
          <h4 class="text-light mb-4">Clients</h4>
          <ul class="list-unstyled">
            <li class="text-white">Templates</li>
            <li class="text-white">Enterprise</li>
            <li class="text-white">Extensions</li>
            <li class="text-white">Managers</li>
            <li class="text-white">How to Hire</li>
          </ul>
        </div>
        <div class="col-12 col-md-3">
          <h4 class="text-light mb-4">Talent</h4>
          <ul class="list-unstyled">
            <li class="text-white">Operations</li>
            <li class="text-white">Marketing</li>
            <li class="text-white">Finance</li>
            <li class="text-white">Product</li>
            <li class="text-white">Support</li>
          </ul>
        </div>
        <div class="col-12 col-md-3">
          <h4 class="text-light mb-4">Resources</h4>
          <ul class="list-unstyled">
            <li class="text-white">Community</li>
            <li class="text-white">Resources</li>
            <li class="text-white">Learning</li>
            <li class="text-white">Webinars</li>
            <li class="text-white">Customers</li>
          </ul>
        </div>
        <div class="col-12 col-md-3">
          <h4 class="text-light mb-4">Company</h4>
          <ul class="list-unstyled">
            <li class="text-white">About us</li>
            <li class="text-white">Leadership</li>
            <li class="text-white">Careers</li>
            <li class="text-white">Services</li>
            <li class="text-white">Contact Us</li>
          </ul>
        </div>
      </div>
  
      <!-- Links Section -->
      <div class="text-center mt-4">
        <ul class="list-unstyled d-flex justify-content-center gap-4">
          <li class="text-white">Terms</li>
          <li class="text-white">Privacy</li>
          <li class="text-white">Advertise</li>
          <li class="text-white">Media</li>
        </ul>
      </div>
    </div>
      <!-- Copyright Section -->
      <div class=" py-4 mt-4 text-center text-light bg-primary">
        <p class="fs-6 mb-0">&copy; 2024. All Rights Reserved.</p>
      </div>
  </footer>
  