<%-include('./css.ejs')%>

<section class="bsb-hero-2 px-3">
    <div class="container overflow-hidden">
      <div class="row gy-3 gy-lg-0 align-items-lg-center justify-content-lg-between">
        <div class="col-12 col-lg-6 order-1 order-lg-0">
          <% if(user) {%>
            <h4 class="display-3 fw-bold mb-3"> Welcome ! <%=user.NAME%> </h4>
          <%}%>
          <h2 class="display-3 fw-bold mb-3"> We are Hiring</h2>
          <p class="fs-4 mb-5">Powerful, extensible, and feature-packed frontend toolkit. Build and customize with Sass, utilize prebuilt grid system and components, and bring projects to life with powerful JavaScript plugins.</p>
          <div class="d-grid gap-2 d-sm-flex">
            <a href="/page/contactus" class="btn btn-primary bsb-btn-xl rounded-pill">Free Consultation</a>
          </div>
        </div>
        <div class="col-12 col-lg-5 text-center">
          <img class="img-fluid" loading="lazy" src="https://img.freepik.com/free-vector/man-search-hiring-job-online-from-laptop_1150-52728.jpg?semt=ais_hybrid">
      </div>
    </div>
  </section>