<%-include('./css.ejs')%>

<nav
  class="navbar navbar-expand-md bg-white shadow-sm bsb-navbar bsb-navbar-hover bsb-navbar-caret"
>
  <div class="container">
    <a class="navbar-brand" href="/">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVkIerflwvgjmybDP4Cz4mrJR-wGCGq7xstA&s"
        alt="BootstrapBrain Logo"
        height="60"
      />
    </a>
    <button
      class="navbar-toggler border-0"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="currentColor"
        class="bi bi-list"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
        />
      </svg>
    </button>
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1">
         
          <%if(user) {%>
            <li class="nav-item">
              <a class="nav-link" href="/page/editprofile/<%=user.ID%>"> Profile </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/auth/logout"> Logout </a>
            </li>

            <li class="nav-item bg-primary text-white text-center py-1 px-3 fw-bold rounded-pill" style="height: 50px;">
              <%=user?.NAME.toUpperCase()%> 
            </li>

          <%} else {%>

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/page/aboutus">About</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/page/contactus">Contact </a>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#!"
                id="accountDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Account</a
              >
              <ul
                class="dropdown-menu border-0 shadow bsb-zoomIn"
                aria-labelledby="accountDropdown"
              >
              
                  <li><a class="dropdown-item" href="/page/login">Log in</a></li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li><a class="dropdown-item" href="/page/signup">Sign up</a></li>
               
              </ul>
            </li>
          <% } %>
         
        </ul>
      </div>
    </div>
  </div>
</nav>

<script src="https://unpkg.com/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
