<form action="/Tasks/add" method=post>

Username<input  type=text  name=Id><br>

Password<input  type=text  name=Title><br>

Password<input  type=text  name=Status><br>
<input  type=submit>
</form>