<form  action="/upload"  method=post  enctype="multipart/form-data">

Name<input  type=text  name=t1><br>
Password<input type=text  name=t2><br>
<input  type=file  name=file >

<input  type=submit>




</form>