<link  rel=stylesheet  href="style.css">

<div  class=abc>welcome


</div>

<form  action="/login" method=post  >

Username<input  type=text  name=t1><br>
Password<input  type=text  name=t2><br>
<input  type=submit>
</form>

<img src="1.jpg"  width=200px height=200px>